
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.back {
    background-image: url('image/minimalist-aesthetic-wallpaper-pic-11.jpg');
background-size: cover;
    height: 100%;
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
}
.center{
 
    width: 55%;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fisrt{
 font-size: 2rem;
}
.colour{
    background: white;
    opacity: 1;
}